<template name="CreateUser">

  <h1>Users</h1>
  <div class="col-lg-4">
    <table id="userlist" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
		    <tr class="customerrow" id="{{_id}}">
		      <td>{{userInfo.username}}</td>
		      <td>{{userInfo.email}}</td>
		      <td>{{roles}}</td>
		    </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


	<div class="col-xs-6">
	<form class="form-horizontal">
		<div class="form-group">
			<input type="text" class="form-control" id="CreateUserName" placeholder="User Name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="CreatePassword" placeholder="Password">
		</div>
		<div class="form-group">
			<div class="input-group">
			<div class="input-group-addon">@</div>
			<input type="email" class="form-control" id="CreateEmail" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<select id="CreateRole" style="color: #2b3e50">
				{{#each CreateUserOptions}}}}
					<option style="color: #2b3e50" value="{{name}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<hr/>

		<div class="form-group">
			<input type="text" class="form-control" id="CreateFirstName" placeholder="First Name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="CreateLastName" placeholder="Last Name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="CreateMobilePhone" placeholder="Mobile Phone">
			<label>
				<input type="checkbox" value="">
				Send Primary Email in SMS format
			</label>
		</div>

		<input type="submit" id="SubmitUser" value="Create User">
	</form>
	</div>
</template>