<template name="Login">
  <form id="login-form">
    <div class = "centerAlign">
        <h2>Login to ATEK Tank Monitoring</h2>

            <div class = "loginSpacing">
                <!--<label for="login-username">Username</label>-->
                 <input type="text" id="login-username" placeholder="Username" />
                <br/>
            </div>
            <div class = "loginSpacing">
                <!--<label for="login-password">Password </label>-->
                 <input type="password" id="login-password" placeholder="Password" />
                <br/>
            </div>
            <div class = "loginSpacing">
                <button type="submit">Login</button>
            </div>
    </div>
  </form>
</template>